@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/extends/_button.scss */
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  /* line 18, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/extends/_button.scss */
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 22, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h1 {
  font-size: 2.25em; }

/* line 26, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h2 {
  font-size: 2em; }

/* line 30, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h3 {
  font-size: 1.75em; }

/* line 34, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h4 {
  font-size: 1.5em; }

/* line 38, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h5 {
  font-size: 1.25em; }

/* line 42, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 46, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 50, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  /* line 55, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
  a:hover {
    color: #2c5999; }
  /* line 59, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

/* line 65, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 73, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 79, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 86, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic; }
  /* line 90, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_typography.scss */
  cite:before {
    content: "\2014 \00A0"; }

/* line 1, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 8, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

/* line 16, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
  label.required:after {
    content: "*"; }
  /* line 24, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
  label abbr {
    display: none; }

/* line 29, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 44, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  /* line 48, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 55, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 59, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 63, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 69, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 74, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

/* line 20, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
/* line 20, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em; }
  /* line 23, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_lists.scss */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 28, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_lists.scss */
  dl dd {
    margin: 0; }

/* line 1, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 2, /Library/Ruby/Gems/2.0.0/gems/neat-1.6.0/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 10, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
header.navigation {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  height: 60px;
  width: 100%;
  z-index: 999; }
  /* line 32, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  /* line 39, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    /* line 45, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
  /* line 53, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .navigation-menu-button {
    color: #0E2745;
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      /* line 53, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation .navigation-menu-button {
        display: none; } }
    /* line 68, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation .navigation-menu-button:hover {
      color: white; }
  /* line 75, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      /* line 75, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation .nav {
        float: left; } }
  /* line 83, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation ul#navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 83, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  /* line 102, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      /* line 102, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    /* line 120, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation ul li.nav-link a {
      color: #0E2745;
      display: inline-block;
      font-weight: 400; }
      @media screen and (min-width: 53.75em) {
        /* line 120, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      /* line 129, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation ul li.nav-link a:hover {
        color: white; }
  /* line 135, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  /* line 142, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 142, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    /* line 149, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    /* line 153, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    /* line 157, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    /* line 161, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: #0E2745; }
  /* line 168, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    /* line 172, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more a {
      padding-right: .8em; }
    /* line 176, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        /* line 176, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
        header.navigation li.more > a {
          margin-right: 1em; } }
      /* line 184, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    /* line 192, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      /* line 168, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation li.more {
        padding-right: .8em;
        position: relative; } }
  /* line 202, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      /* line 202, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      /* line 212, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    /* line 219, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        /* line 219, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          /* line 226, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          /* line 231, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: .7em; } }
      /* line 238, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation ul.submenu li a {
        background-color: transparent;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          /* line 238, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
          header.navigation ul.submenu li a {
            background-color: transparent;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  /* line 256, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      /* line 256, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  /* line 271, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation a.sign-up {
    margin-top: 1.2em;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #1478c2;
    border-radius: 3px;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 53.75em) {
      /* line 271, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation a.sign-up {
        padding: .5em 1em; } }
    /* line 288, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation a.sign-up:hover {
      background: #2193e8; }
  /* line 295, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  header.navigation .search-bar {
    padding-top: .3em;
    float: left;
    display: inline; }
    /* line 303, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    header.navigation .search-bar .search-and-submit {
      float: right;
      position: relative;
      display: inline; }
      /* line 308, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: rgba(13, 13, 13, 0);
        border: 1px solid transparent;
        padding: .6em .8em;
        font-size: 1.5em;
        color: #0E2745;
        border-radius: 6px;
        margin: 0;
        display: inline; }
        @media screen and (min-width: 53.75em) {
          /* line 308, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
          header.navigation .search-bar .search-and-submit input[type=search] {
            width: 100%;
            display: inline; } }
      /* line 325, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid rgba(3, 3, 3, 0);
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 rgba(77, 77, 77, 0);
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: rgba(38, 38, 38, 0);
        background-image: -webkit-linear-gradient(rgba(38, 38, 38, 0), rgba(10, 10, 10, 0));
        background-image: linear-gradient(rgba(38, 38, 38, 0), rgba(10, 10, 10, 0));
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 transparent;
        background-clip: padding-box;
        border: 1px solid rgba(3, 2, 2, 0);
        border-radius: 3px;
        box-shadow: inset 0 1px 0 0 rgba(77, 77, 77, 0);
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: rgba(38, 38, 38, 0);
        background-image: -webkit-linear-gradient(rgba(38, 38, 38, 0), rgba(11, 9, 9, 0));
        background-image: linear-gradient(rgba(38, 38, 38, 0), rgba(11, 9, 9, 0));
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 transparent;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0;
        display: inline;
        text-color: #0E2745; }
        /* line 131, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 rgba(51, 51, 51, 0);
          cursor: pointer;
          background-color: rgba(26, 26, 26, 0);
          background-image: -webkit-linear-gradient(rgba(26, 26, 26, 0), rgba(3, 3, 3, 0));
          background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(3, 3, 3, 0)); }
        /* line 147, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid rgba(3, 3, 3, 0);
          box-shadow: inset 0 0 8px 4px transparent, inset 0 0 8px 4px transparent; }
        /* line 131, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          box-shadow: inset 0 1px 0 0 rgba(51, 51, 51, 0);
          cursor: pointer;
          background-color: rgba(26, 26, 26, 0);
          background-image: -webkit-linear-gradient(rgba(26, 26, 26, 0), rgba(3, 2, 2, 0));
          background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(3, 2, 2, 0)); }
        /* line 147, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid rgba(3, 2, 2, 0);
          box-shadow: inset 0 0 8px 4px transparent, inset 0 0 8px 4px transparent; }
        /* line 51, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        /* line 336, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 2.5em;
          display: inline; }
    @media screen and (min-width: 53.75em) {
      /* line 295, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline; }
        /* line 349, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: inline; } }

/* line 364, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
.hero {
  background: url("../images/blue_wave-36.png"), -webkit-linear-gradient(#1478c2, #1478c2), no-repeat #1478c2 scroll;
  background: url("../images/blue_wave-36.png"), linear-gradient(#1478c2, #1478c2), no-repeat #1478c2 scroll;
  height: 32em;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em; }
  /* line 380, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .hero .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
    display: inline; }
  /* line 386, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    padding: 8em;
    margin: auto;
    text-align: center;
    color: white; }
    /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    /* line 396, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .hero .hero-inner button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e3e3e3);
      background-image: linear-gradient(white, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e5e0e0);
      background-image: linear-gradient(white, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      /* line 131, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      /* line 147, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      /* line 131, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
        background-image: linear-gradient(#f2f2f2, #ded8d8); }
      /* line 147, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      /* line 51, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    /* line 402, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .hero .hero-inner .hero-copy {
      text-align: center;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT"; }
      /* line 407, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .hero .hero-inner .hero-copy h1 {
        text-align: center;
        font-size: 4em;
        margin-bottom: .1em;
        font-weight: 300;
        text-transform: uppercase;
        font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT"; }
        @media screen and (min-width: 53.75em) {
          /* line 407, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
          .hero .hero-inner .hero-copy h1 {
            font-size: 4.2em; } }
      /* line 419, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .hero .hero-inner .hero-copy p {
        color: #0E2745;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;
        display: inline; }
        @media screen and (min-width: 53.75em) {
          /* line 419, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }

/* line 444, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
.side-image {
  background: #F9F9F9;
  height: 60em;
  border-bottom: 1px solid rgba(6, 34, 55, 0.2); }
  @media screen and (min-width: 53.75em) {
    /* line 444, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; }
      /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
      .side-image:after {
        content: "";
        display: table;
        clear: both; } }
  /* line 452, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .images-wrapper {
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      /* line 452, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .side-image .images-wrapper {
        display: table-cell;
        width: 33.33333%;
        background-position: center;
        background-size: cover;
        border-right: 1px solid rgba(6, 34, 55, 0.2); } }
  /* line 469, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .images-wrapper h1 {
    margin-bottom: 1em; }
  /* line 473, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .images-wrapper h4 {
    color: blue;
    font-size: 1.5em;
    margin-bottom: 1em; }
  /* line 479, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .images-wrapper p {
    color: #D3D3D3;
    margin-bottom: 2em; }
  /* line 484, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 484, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .side-image .content {
        display: table-cell;
        width: 66.66667%;
        padding: 4em 4em 8em 4em; } }
  /* line 494, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .content h1 {
    margin-bottom: .9em; }
  /* line 498, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .content h2 {
    border-left: 3px solid rgba(6, 34, 55, 0.2);
    padding-left: 1em;
    margin-left: 3px;
    margin-bottom: 1em;
    color: blue; }
  /* line 506, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .content h4 {
    background: #1478c2;
    color: white;
    display: inline;
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 1em;
    padding: 3px 8px;
    text-transform: uppercase; }
  /* line 518, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .content p {
    color: gray;
    margin-bottom: 3em; }
  /* line 523, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .side-image .content button {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e3e3e3);
    background-image: linear-gradient(white, #e3e3e3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    border: 1px solid #dfd8d8;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e5e0e0);
    background-image: linear-gradient(white, #e5e0e0);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    font-size: 1em;
    outline: none; }
    /* line 131, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
    .side-image .content button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f2f2;
      background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
      background-image: linear-gradient(#f2f2f2, #dbdbdb); }
    /* line 147, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
    .side-image .content button:active:not(:disabled), .side-image .content button:focus:not(:disabled) {
      border: 1px solid #dbdbdb;
      box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
    /* line 131, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
    .side-image .content button:hover:not(:disabled) {
      box-shadow: inset 0 1px 0 0 white;
      cursor: pointer;
      background-color: #f2f2f2;
      background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
      background-image: linear-gradient(#f2f2f2, #ded8d8); }
    /* line 147, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
    .side-image .content button:active:not(:disabled), .side-image .content button:focus:not(:disabled) {
      border: 1px solid #dfd8d8;
      box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
    /* line 51, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_button.scss */
    .side-image .content button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }

@font-face {
  font-family: 'WebOswald';
  font-style: normal;
  font-weight: 300;
  src: url(https://themes.googleusercontent.com/static/fonts/oswald/v5/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
/* line 542, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
.intro-text {
  background: #F9F9F9;
  min-height: 9.1em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 0 0 0;
  text-align: center;
  border-bottom: 1px solid rgba(6, 34, 55, 0.2); }
  /* line 551, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .intro-text h2 {
    color: #0E2745;
    font-family: 'WebOswald', sans-serif;
    font-weight: 300; }
    @media screen and (min-width: 53.75em) {
      /* line 551, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .intro-text h2 {
        font-size: 4em;
        padding-top: .5em;
        padding-bottom: .5em; } }

/* line 574, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
.grid-items-lines {
  position: relative; }
  /* line 15, /Library/Ruby/Gems/2.0.0/gems/bourbon-4.0.2/app/assets/stylesheets/addons/_clearfix.scss */
  .grid-items-lines:after {
    content: "";
    display: table;
    clear: both; }
  /* line 586, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .grid-items-lines .grid-item {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    height: 17em;
    background: white;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 0;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    cursor: pointer; }
    @media screen and (min-width: 53.75em) {
      /* line 586, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .grid-items-lines .grid-item {
        width: 25%; } }
    /* line 602, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .grid-items-lines .grid-item:hover {
      background: rgba(51, 51, 51, 0.05); }
  /* line 607, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .grid-items-lines .grid-item img {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 0; }
  /* line 615, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .grid-items-lines .grid-item h1 {
    color: #333;
    font-size: 1.3em;
    margin: auto auto; }
  /* line 621, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .grid-items-lines .grid-item p {
    color: rgba(51, 51, 51, 0.6); }
    @media screen and (min-width: 40em) {
      /* line 621, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .grid-items-lines .grid-item p {
        max-width: 70%; } }
  @media screen and (min-width: 53.75em) {
    /* line 628, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .grid-items-lines .grid-item-big {
      width: 66.66667%; } }
  @media screen and (min-width: 40em) {
    /* line 632, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .grid-items-lines .grid-item-big p {
      max-width: 60%; } }
  /* line 640, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .grid-items-lines .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: white; }
  /* line 648, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .grid-items-lines .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: white; }

/* line 687, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
.footer-2 {
  background: #1b3c55;
  padding: 1.5em;
  width: 100%;
  min-height: 6.2em;
  margin: 0 0 0 0; }
  /* line 699, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 699, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  /* line 709, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 .footer-logo img {
    height: 1.6em; }
  /* line 713, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 713, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  /* line 722, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 53.75em) {
      /* line 722, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  /* line 732, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4); }
    /* line 735, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    /* line 740, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .footer-2 .footer-secondary-links {
      float: right; } }
  /* line 745, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 .footer-secondary-links li {
    border-right: 1px solid #d3d3d3;
    padding-right: 6px;
    margin-right: 3px;
    font-size: .8em;
    font-weight: 400; }
  /* line 753, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 .footer-secondary-links li:last-child {
    border-right: 0; }
  /* line 757, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      /* line 757, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    /* line 765, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      /* line 770, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    /* line 775, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: .7;
      height: 1.6em;
      padding: 1px; }
      /* line 780, /Users/benjaminparker/ruby/rubylabs/surfnpaddle/source/stylesheets/all.css.scss */
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }
